.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bubble::after {
  content: '';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: #aaaaaa;
  height: 85%;
}
.bannerImg{
  background-color: black;
  /* opacity: 0.4; */
  /* mix-blend-mode:overlay; */
}
.loginImg{
  /* opacity: 0.4; */
  mix-blend-mode: luminosity;
}
.signupImg{
  transform: scaleX(-1);
  /* opacity: 0.4; */
  mix-blend-mode: luminosity;
}
.courseBg{
  background-image: "https://i.ibb.co/pxtSX5W/5november-background-10-removebg-preview.png";
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
